<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <title>500</title>
  <%- include('../layouts/styles'); %>
</head>

<body>
  <h1>500</h1>

  <nav>
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/login">login</a></li>
			<li><a href="/register">register</a></li>
      <li><a href="/profile">profile</a></li>
      <form action="/logout/?_method=DELETE" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
        <button type="submit">logout</button>
      </form>
		</ul>
  </nav>
  
  <%- include('../layouts/scripts'); %>
</body>

</html>